/* allura-regular - latin */
@font-face {
  font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/allura-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Allura Regular"), local("Allura-Regular"), url("../font/allura-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../font/allura-v8-latin-regular.woff2") format("woff2"), url("../font/allura-v8-latin-regular.woff") format("woff"), url("../font/allura-v8-latin-regular.ttf") format("truetype"), url("../font/allura-v8-latin-regular.svg#Allura") format("svg");
  /* Legacy iOS */ }

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../font/montserrat-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../font/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-v14-latin-regular.woff2") format("woff2"), url("../font/montserrat-v14-latin-regular.woff") format("woff"), url("../font/montserrat-v14-latin-regular.ttf") format("truetype"), url("../font/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */ }

body {
  margin: 0;
  font-family: 'Montserrat';
  background: #ffffff;
  cursor: default; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

span {
  color: #E73587; }

p {
  margin: 0; }

.btn {
  display: block;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#E73587), color-stop(#8C32F0), color-stop(#8C32F0), to(#E73587));
  background-image: linear-gradient(to right, #E73587, #8C32F0, #8C32F0, #E73587);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Arial";
  color: #ffffff;
  background-size: 300% 100%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  .btn:hover {
    background-position: 100% 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  .btn:active {
    background-position: 0 0; }

.underline {
  background-image: url("../img/Line.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%; }

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
  width: 70px;
  height: 70px;
  color: #dedede;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 0 4px #a4a1a4;
          box-shadow: inset 0 0 0 4px #a4a1a4;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(25px);
          transform: translateY(25px); }
  .scroll-up::before {
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 40px;
    content: '\261E';
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    color: #E73587;
    z-index: 1000; }
  .scroll-up:hover {
    background-color: #E7358720; }
  .scroll-up--active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .scroll-up__svg-path {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    fill: none;
    stroke: #E73587;
    stroke-width: 4px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }

.header {
  height: auto; }
  .header__banner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    height: 80px;
    background: #E73587;
    background: -webkit-gradient(linear, left top, right top, color-stop(15%, #E73587), to(#8C32F0));
    background: linear-gradient(90deg, #E73587 15%, #8C32F0 100%); }
  .header__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    width: 55px;
    height: 55px;
    margin-right: 10%;
    margin-top: 13px;
    background-color: transparent;
    border: 2px solid #ffffff;
    position: relative; }
    .header__button--close {
      width: 100%;
      height: 100%;
      display: none;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
    .header__button--open {
      width: 100%;
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo {
  width: 100px;
  height: 120px;
  margin-left: 10%;
  background-color: #020E35; }
  .logo__image {
    position: relative;
    left: 28px;
    top: 27px; }
  .logo__gradient {
    position: relative;
    top: 62px;
    height: 6px;
    background: #E73587;
    background: -webkit-gradient(linear, left top, right top, color-stop(15%, #E73587), to(#8C32F0));
    background: linear-gradient(90deg, #E73587 15%, #8C32F0 100%); }

.menu {
  display: none;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 45px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25); }
  .menu__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 35px;
    height: 240px; }
  .menu__item {
    width: 100%;
    cursor: pointer;
    text-align: center;
    height: 60px; }
    .menu__item:hover {
      background-color: #f2f2f2; }
    .menu__item:active {
      background-color: #dedede; }
  .menu__link {
    display: block;
    padding-top: 17px;
    color: #020E35;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px; }
  .menu__button {
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 20px;
    width: 150px;
    height: 37px;
    font-size: 16px; }

@media (min-width: 768px) and (orientation: landscape) {
  .header-container {
    width: 100%;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25); }
  .header {
    margin: auto;
    max-width: 670px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
    .header__banner {
      position: absolute;
      background: #ffffff; }
    .header__button {
      display: none; }
  .logo {
    position: absolute; }
  .menu {
    margin-top: 0;
    padding-bottom: 0;
    height: 80px;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: end;
        justify-content: flex-end; }
    .menu__list {
      height: 100%;
      width: 440px;
      margin: 0 13px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between; }
    .menu__item {
      height: 80px; }
    .menu__link {
      padding-top: 33px;
      font-size: 12px; }
    .menu__button {
      height: 28px;
      width: 105px;
      padding-top: 13px;
      font-size: 12px; } }

@media (min-width: 1440px) {
  .header {
    max-width: 1170px; } }

.main {
  margin-top: 70px;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  .main__title {
    margin: 0 10%;
    font-family: 'Allura', cursive;
    font-size: 47px;
    font-weight: 400;
    color: #031654; }
  .main__picture {
    width: 100%;
    height: auto;
    max-width: 450px;
    max-height: 345px;
    opacity: 0.2; }
  .main__button {
    margin: 20px 0;
    height: 41px;
    width: 170px;
    font-size: 17px;
    padding-top: 22px; }

@media (min-width: 768px) {
  .main-container {
    max-width: 768px;
    margin: auto; }
  .main {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 768px; }
    .main__title {
      margin: 0;
      font-size: 90px; }
    .main__picture {
      -ms-flex-order: 1;
          order: 1;
      margin-top: -30px;
      margin-right: -50px; } }

@media (min-width: 1440px) {
  .main-container {
    max-width: 1270px; }
  .main {
    max-width: 1270px;
    margin-top: 100px; }
    .main__title {
      margin-right: 50%;
      font-size: 97px; }
    .main__picture {
      max-width: 700px;
      max-height: 650px;
      margin-top: -370px;
      margin-right: -80px;
      opacity: 100%; }
    .main__button {
      height: 42px;
      width: 200px;
      font-size: 17px;
      padding-top: 22px; } }

.about {
  margin: 40px auto 20px;
  height: auto;
  max-width: 656px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .about__title {
    font-family: "Allura";
    font-weight: 400;
    font-size: 40px;
    color: #031654; }
  .about__descr {
    margin: 40px 10%;
    text-align: center;
    font-size: 20px;
    color: #031654; }

@media (min-width: 768px) {
  .about {
    margin: 60px auto 20px; }
    .about__descr {
      margin: 40px 0; } }

@media (min-width: 1440px) {
  .about {
    margin: 55px auto;
    padding-top: 65px;
    max-width: 900px; }
    .about__title {
      font-size: 55px; }
    .about__descr {
      margin: 65px 0;
      font-size: 25px; } }

.services {
  height: 620px;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, #020e35));
  background: linear-gradient(180deg, white 50%, #020e35 50%); }
  .services__title {
    margin: auto;
    font-family: "Allura";
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #031654; }
  .services__slider {
    margin-top: 25px; }
  .services__card--web {
    background-color: #F0F3FA; }
  .services__card--app {
    background-color: #FDF8E3; }
  .services__card--design {
    background-color: #FEEFF0; }

.card {
  width: 266px;
  height: 438px;
  margin-top: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .card__picture {
    width: 200px;
    height: 175px; }
  .card__category {
    margin-top: 15px;
    text-align: center;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: #020E35; }
  .card__descr {
    margin: 15px;
    text-align: center;
    font-size: 16px;
    color: #031654; }
  .card__button {
    width: 120px;
    height: 28px;
    margin-top: 10px;
    padding-top: 13px;
    font-size: 12px; }

.next-btn {
  width: 55px;
  height: 55px;
  background-image: url("../img/services/next.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain; }

.prev-btn {
  width: 55px;
  height: 55px;
  background-image: url("../img/services/prev.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain; }

.slider {
  width: 300px;
  margin: auto;
  position: relative; }
  .slider__items {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex; }
  .slider__item {
    padding: 0 15px; }
  .slider__control {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    -webkit-transition-property: opacity, visibility, background-color;
    transition-property: opacity, visibility, background-color; }
    .slider__control--active {
      opacity: 1;
      visibility: visible; }
    .slider__control--next {
      right: -12%; }
    .slider__control--previous {
      left: -13%; }

@media (min-width: 768px) {
  .slider {
    width: 580px; }
    .slider__control--previous {
      left: -10%; } }

@media (min-width: 1440px) {
  .services {
    height: 845px; }
    .services__slider {
      margin-top: 50px; }
    .services__title {
      font-size: 55px; }
  .card {
    width: 360px;
    height: 550px; }
    .card__picture {
      width: 300px;
      height: 250px; }
    .card__category {
      font-size: 22px; }
    .card__descr {
      margin: 20px;
      font-size: 20px; }
    .card__button {
      width: 140px;
      height: 28px;
      margin-bottom: 12px;
      padding-top: 14px;
      font-size: 13px; }
  .next-btn {
    width: 75px;
    height: 75px; }
  .prev-btn {
    width: 75px;
    height: 75px; }
  .slider {
    width: 1170px; }
    .slider__control--next {
      right: -8%; }
    .slider__control--previous {
      left: -8%; } }

.portfolio {
  margin-top: -32px;
  height: auto;
  background-color: #020E35; }
  .portfolio__title {
    margin: auto;
    font-family: "Allura";
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: #ffffff; }
  .portfolio__projects {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .portfolio__button {
    margin: 40px 0;
    width: 127px;
    height: 28px;
    padding-top: 13px;
    font-size: 12px; }

.project {
  margin: 40px 10% 0;
  height: auto;
  max-width: 345px; }
  .project__picture {
    margin-top: 25px;
    min-width: 320px;
    height: auto; }
    .project__picture img {
      width: 100%;
      height: 100%; }

.project-descr {
  width: 100%;
  font-family: 'Montserrat';
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  .project-descr__title {
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff5ee60; }
  .project-descr__category {
    margin-top: 25px;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.8; }
  .project-descr__text {
    margin-top: 20px;
    text-align: justify;
    opacity: 0.9;
    font-size: 16px;
    line-height: 23px; }

@media (min-width: 768px) {
  .portfolio__button {
    margin: 60px 0; }
  .project {
    margin: 40px 0 0;
    max-width: 500px; }
  .project-descr__title {
    font-size: 27px; }
  .project-descr__category {
    font-size: 17px; }
  .project-descr__text {
    font-size: 17px;
    line-height: 28px; } }

@media (min-width: 1440px) {
  .portfolio {
    margin-top: -41px; }
    .portfolio__title {
      font-size: 55px; }
    .portfolio__button {
      margin: 90px 0;
      height: 40px;
      width: 200px;
      font-size: 17px;
      padding-top: 22px; }
    .portfolio__projects {
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .project {
    max-width: 1170px;
    display: -ms-flexbox;
    display: flex;
    margin-top: 45px; }
    .project__picture {
      -ms-flex: 1.07;
          flex: 1.07; }
      .project__picture--order {
        -ms-flex-order: -1;
            order: -1; }
  .project-descr {
    -ms-flex: 1;
        flex: 1;
    -ms-flex-align: start;
        align-items: flex-start;
    margin: 20px;
    text-align: left; }
    .project-descr--right {
      -ms-flex-align: end;
          align-items: flex-end; } }

.clients {
  height: auto;
  background-color: #020E35; }
  .clients__title {
    margin: 0 10%;
    font-size: 47px;
    font-family: 'Allura',cursive;
    font-weight: 400;
    color: #ffffff;
    -ms-flex-order: -1;
        order: -1; }
  .clients__picture svg {
    margin: auto;
    height: auto;
    width: 100%; }

.clients-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

@media (min-width: 768px) {
  .clients__title {
    max-width: 670px;
    font-size: 80px;
    text-align: center; } }

@media (min-width: 1440px) {
  .clients-container {
    margin: auto;
    max-width: 1170px;
    -ms-flex-direction: row;
        flex-direction: row; }
  .clients {
    height: 500px; }
    .clients__title {
      margin: 0;
      margin-left: 150px;
      font-size: 87px;
      text-align: left;
      -ms-flex-order: 1;
          order: 1; }
    .clients__picture svg {
      width: 450px; } }

.footer {
  margin-top: 60px;
  height: auto; }
  .footer__copyright {
    padding-top: 7px;
    height: 25px;
    background-color: #020E35;
    color: #ffffff;
    font-size: 12px;
    text-align: center; }

.footer-container {
  max-width: 670px;
  margin: auto; }

.footer-descr {
  margin: 0 10%;
  font-family: "Allura";
  font-weight: 400;
  color: #031654; }
  .footer-descr__question {
    font-size: 31px; }
  .footer-descr__answer {
    margin: 15px 0;
    font-size: 47px;
    font-weight: 400; }

.form {
  margin: 40px 10%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .form__title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #031654; }
  .form__input {
    height: 48px;
    padding: 0 10px;
    margin-bottom: 25px;
    border: 1px solid #dedede;
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Montserrat';
    color: #020E35; }
  .form__textarea {
    height: 150px;
    padding: 10px 10px;
    border: 1px solid #dedede;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-size: 15px;
    color: #020E35; }
  .form__button {
    margin: 30px 0;
    height: 33px;
    padding-top: 17px;
    font-size: 17px; }

@media (min-width: 768px) {
  .footer-descr__question {
    font-size: 32px; }
  .footer-descr__answer {
    font-size: 80px; }
  .form {
    margin: 60px 10%; } }

@media (min-width: 1440px) {
  .footer {
    margin-top: 80px; }
    .footer__copyright {
      margin-top: 40px; }
  .footer-container {
    max-width: 1170px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .footer-descr {
    width: 585px;
    margin: 0; }
  .form {
    width: 554px;
    margin: 0; } }
